@import url(fonts/style.css);
body {
  -webkit-font-smoothing: antialiased; }

p {
  font-size: 14px !important; }

.container {
  background: white;
  padding: 0 40px 0 40px; }
  @media (max-width: 550px) {
    .container {
      padding: 0 15px 0 15px; } }

article .container:first-child {
  padding-top: 40px; }
article .container:last-child {
  padding-bottom: 30px; }

h1, h2, h3, h4, h5, h6 {
  color: #24b24b; }

header .logo-nav {
  padding-top: 20px; }
header .branding {
  background: #24b24b; }
  header .branding h3 {
    margin: 0;
    color: white;
    font-size: 14px;
    padding: 13px 0; }
  header .branding .user-panel {
    float: right; }
  header .branding .user-panel, header .branding span {
    color: white;
    font-size: 14px;
    line-height: 40px; }
    header .branding .user-panel i, header .branding span i {
      opacity: 0.5;
      margin-right: 5px; }
  header .branding span.log {
    cursor: pointer; }
  header .branding .divider {
    margin: 0 10px;
    display: inline-block;
    opacity: 0.2; }
  header .branding a:hover {
    opacity: 0.5;
    transition: all 0.3s; }

.site-logo {
  max-width: 140px;
  display: inline-block; }

nav.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold; }
  nav.main-nav ul li {
    display: inline-block;
    margin-left: 15px; }
    nav.main-nav ul li i {
      margin-right: 5px;
      opacity: 0.5; }
    nav.main-nav ul li a:after {
      content: " ";
      display: block;
      border-bottom: 3px solid #24b24b;
      width: 0;
      transition: width 0.3s ease;
      -webkit-transition: width 0.3s ease;
      margin: 0 auto; }
    nav.main-nav ul li:hover a {
      color: #24b24b; }
    nav.main-nav ul li:hover a:after {
      width: 100%; }

.step-title {
  margin: 5px 0px 30px 0px; }

hr {
  margin: 30px 0 30px 0; }

.sport-choose i {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 1.4em;
  vertical-align: sub;
  -webkit-font-smoothing: subpixel-antialiased; }

.datepicker {
  font-size: 16px; }

#enabled-times .time-row {
  position: relative;
  padding: 20px 30px;
  display: flex; }
  @media (max-width: 550px) {
    #enabled-times .time-row {
      padding-right: 15px;
      padding-left: 15px; } }
#enabled-times .time-cell {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 14px;
  transition: all 0.3s ease;
  line-height: 20px;
  border-right: solid 1px #dadada; }
  #enabled-times .time-cell:hover {
    background: #dadada;
    transition: all 0.3s ease;
    cursor: pointer; }
  #enabled-times .time-cell:before {
    content: attr(data-timestart);
    position: absolute;
    top: -23px;
    left: -17px;
    font-size: 13px;
    opacity: 0.5;
    color: gray; }
  #enabled-times .time-cell:last-child {
    border-right: none; }
    #enabled-times .time-cell:last-child:after {
      color: gray;
      content: attr(data-timeend);
      position: absolute;
      top: -23px;
      right: -17px;
      font-size: 13px;
      opacity: 0.5; }
  #enabled-times .time-cell.disabled {
    background-color: #f1f1f1; }
    #enabled-times .time-cell.disabled span {
      color: #c7c7c7; }
    #enabled-times .time-cell.disabled:hover {
      cursor: not-allowed; }
  #enabled-times .time-cell.active {
    background-color: #34495e; }
    #enabled-times .time-cell.active span {
      color: white; }

footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.46);
  color: #34495e;
  line-height: 48px; }

.loader-overlay {
  position: absolute;
  background: white;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.spinner {
  width: 70px;
  text-align: center;
  opacity: 0.8;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #16a085;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.chosen-fd {
  margin: 10px 0 20px 0;
  font-size: 16px;
  color: #34495e;
  text-align: center; }
  .chosen-fd div {
    display: inline-block; }
  .chosen-fd .date {
    color: gray;
    margin-left: 25px; }

.relative {
  position: relative; }

.empty-selected-times {
  margin: 20px 0;
  padding: 0 20px;
  text-align: center; }

.selected-times {
  background: #24b24b;
  color: white;
  margin: 20px 0; }
  .selected-times .next-step {
    margin: 15px 20px 15px 0; }

.next-step {
  float: right;
  text-transform: uppercase; }
  .next-step i {
    margin: 0 5px;
    opacity: 0.5; }
  @media (max-width: 550px) {
    .next-step {
      margin: 10px 0; } }

.btn.fb {
  background-color: #5078a0; }
  .btn.fb:hover {
    background-color: #486695; }
  .btn.fb i {
    font-size: 24px;
    margin-right: 10px; }
  .btn.fb span {
    vertical-align: 3px; }

.btn-primary {
  color: #2c3e50;
  background-color: #fce600;
  transition: all 0.5s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #fce600;
    color: #2c3e50;
    opacity: 0.8;
    transition: all 0.5s; }

a {
  color: #24b24b; }

#clear-times {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.6;
  transition: all 0.5s;
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer; }
  #clear-times:hover {
    transition: all 0.5s;
    opacity: 1; }
  @media (max-width: 550px) {
    #clear-times {
      position: static; } }
  @media (min-width: 551px) and (max-width: 991px) {
    #clear-times {
      left: 0; } }

.margin-top-20 {
  margin-top: 20px; }

.login-choose h7 {
  margin-bottom: 10px;
  display: inline-block; }

h5 i {
  opacity: 0.5;
  margin-right: 10px; }

.user-confirm {
  text-align: center; }

.user-info {
  text-align: left;
  display: inline-block;
  padding: 15px 25px;
  background: #24b24b;
  color: white; }
  @media (max-width: 550px) {
    .user-info {
      width: 100%; } }
  .user-info > div i {
    width: 20px;
    opacity: 0.5;
    margin-right: 10px; }

.field {
  display: flex;
  flex-wrap: wrap; }
  .field .image-preview {
    width: 30%;
    height: 100%; }
    @media (max-width: 550px) {
      .field .image-preview {
        width: 100%; } }
    .field .image-preview .image {
      width: 100%;
      min-height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
  .field .details {
    width: 70%;
    padding-bottom: 30px; }
    @media (max-width: 550px) {
      .field .details {
        width: 100%; } }
    .field .details .field-name {
      font-size: 24px;
      font-weight: bold;
      padding: 15px 25px;
      color: white; }
    .field .details .one-row {
      font-size: 14px;
      opacity: 0.7;
      padding: 0 25px; }
      .field .details .one-row .date {
        display: inline-block; }
      .field .details .one-row .time {
        display: inline-block;
        margin-left: 12px; }

.pos-static {
  position: static; }

@media (max-width: 550px) {
  .login-choose h7 {
    margin-top: 20px; } }

.rescode {
  background-color: #24b24b;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 28px;
  padding: 10px 20px; }

.resdetails {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  font-size: 14px; }
  .resdetails span {
    opacity: 0.5;
    margin-right: 10px; }

.alert {
  font-size: 14px; }

.reslist {
  font-size: 14px;
  width: 100%;
  margin: 20px 0; }
  .reslist td {
    padding: 5px 0; }
  .reslist tr {
    border-bottom: solid 1px whitesmoke; }
  .reslist .lighter {
    color: gray; }

.created-by {
  margin-right: 20px; }

.created-by-img {
  max-width: 200px;
  display: inline-block; }

/*# sourceMappingURL=styles.css.map */
