{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Ceník hřiště a dalších služeb</h4>
            </div>
            <div class="col-md-12">
               <ul>
                   <li>Tenisové hřiště - 100 Kč/hod</li>
                   <li>Beach volleyball - 200 Kč/hod</li>
                   <li>Beach volleyball při zakoupení vstupu na koupaliště- 150 Kč/hod</li>
               </ul>
                <hr>
                <ul>
                    <li>Zapůjčení volejbalového míče - 30 Kč (vratná kauce 100 Kč)</li>
                    <li>Zapůjčení tenisových raket - 30 Kč/ks</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
