{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Ceník hřiště a dalších služeb</h4>
            </div>
            <div class="col-md-12">
               <ul>
                   <li>Tenisové hřiště - 100 Kč/hod</li>
                   <li>Beach volleyball - 200 Kč/hod</li>
                   <li>Beach volejbal - pro návštěvníky koupaliště - 150 Kč/hod</li>
               </ul>
                <hr>
                <ul>
                    <li>Zapůjčení volejbalového míče - vratná kauce 100 Kč</li>
                    <li>Zapůjčení tenisové rakety - 30 Kč/hodinu</li>
                    <li>Zapůjčení 1 sady míčků - 30 Kč/hodinu</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
