{% block body %}
    <div class="chosen-fd">
        <div class="field">{{ resinfo.fieldname }}</div>
        <div class="date">{{ resinfo.date|localizeddate('full', 'none', 'cs') }}</div>
    </div>
    <div class="time-row">
        {% for time in possibletimes %}
                {% if not loop.last %}
                        <span class="time-cell{% if time in disableddates %} disabled{% endif %}{% if time in activedates %} active{% endif %}" data-timeStart="{{ time }}">
                            {% if time in disableddates %}
                                <span><i class="fa fa-times"></i> obsazeno</span>
                            {% else %}
                                <span><i class="fa fa-check"></i> volno</span>
                            {% endif %}
                        </span>
                    {% if (loop.index%10==0) %}
                        </div>
                        <div class="time-row">
                    {% endif %}
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
